/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 10px;
  margin-right: 0px;
  margin-left: 0px;
  cursor: pointer;  
  border-radius: 0px;

}
#li {  
  color:greenyellow;  
}

li a {
  display: block;  
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  float: center;
}

li a:hover:not(.active) {

  background-color: #111;
}

.active {
  background-color:white;
}



  img {
    float: left;
    margin: 0 80px 80px 0;
}
.clearfix {
  overflow: auto;
}

p {
    text-align: justify;
    text-indent: 2em;
    font-size: 25px;
}
body {
    background: #f8f6f6;
  }
  img {
    width: 50%;
  }
  .comparison-posts > div {
    width: 50%;
    display: inline-block;
  }
 